.section {
    width: 100%;
    background-color: white;
    box-shadow: var(--box-shadow);
    transition: all .25s ease-in-out;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 1rem;
        transition: all .25s ease-in-out;

        h3 {
            padding: 1rem;
        }

        p {
            padding: 1rem;
        }
    }
}

.section:hover {
    transition: all .25s ease-in-out;
    opacity: .8;
    box-shadow: var(--box-shadow-hover);
}